/*
	
	GLOBAL

*/
html{
	font-family: 'Cambria', Arial;
	color: #000000;
}
html,body{
	height: 100%;
}
.bold{
	font-weight: bold;
}
.italic{
	font-style: italic;
}
.underline{
	text-decoration: underline;
	/*font-size: 1.2em;*/
}
/*Couleurs de fond en dégradé*/
header, footer{
	background: #FC00FF;  /* fallback for old browsers */
	background: linear-gradient(to right, #00DBDE, #FC00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*CORPS*/
main{
	margin-top: 1.2em;
	margin-bottom: 1.5em;
	width: 100%;
}




/*

	IMAGES

*/
IMG.displayed{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*LOGO PRESENTATION*/
.cv_icon, .mask2, .center2{
	width: 300px;
	height: 300px;
}




/*

	TITRES

*/
/*En-tête*/
header{ /*Mise en page du header*/
	width: 94vw;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1%;
	padding-left: 2%;
}
a{ /*Enlever les caractéristiques des liens*/
	text-decoration: none;
}
#accueil{ /*Img header accueil*/
	width: 40px;
	height: 40px;
	float: right;

}
/*Titres principaux (Formation + Expérience) dans Présentation*/
h1{
	text-align: left;
	color: #D3D3D3; /*Gris clair*/
}
/*h1:hover{
	text-align: left;
	font-weight: bolder;
}
h1:visited{
	text-decoration: none;
}*/
/**/
h2{
	text-align: center;
	font-style: italic;
	color: #7303C0; /*Violet vif !!*/
}
/*Nom des postes dans Expériences, dans Présentation*/
h3{
	font-weight: bold;
	text-decoration: underline;
	color: #7303C0; /*violet vif !!*/
}
/*Bouton retrou en haut*/
#cRetour{
	text-decoration: none;
	overflow: hidden;
	width: 50px;
	height: 50px;
	border: none;
	z-index: 100;
	opacity: 0.7;
}
a#cRetour{
	position:fixed;
	z-index:99999;
	transition:all ease-in 0.2s;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	text-decoration: none;
}
a#cRetour:hover{
  	transition:all ease-in 0.2s;
}
a#cRetour.cInvisible{
  	bottom:-35px;
  	opacity:0;
  	transition:all ease-in 0.2s;
}
a#cRetour.cVisible{
	right: 1em;
  	bottom: 0.5em;
  	opacity: 1;
}




/*

	MENU

*/
/*Menu général*/
nav{ /*Taille du menu*/
	width: 100%;
	display: flex;
	justify-content: center;
  	align-items: center;
}
nav>ul>li{ /*On affiche seulement les éléments li correspondant à nos onglets de menu en ligne*/
	float: left;
	position: relative;
}
nav li{ /*On enlève les puces devant tous les éléments li appartenant à notre éléments nav*/
	list-style-type: none;
}

nav>ul::after{ /*Gérer les éléments parents et enfants float*/
	content: "";
	display: block;
	clear: both;
}
nav a{ /*Style du texte des noms d'onglets*/
	display: inline-block;
	text-decoration: none;
}
nav>ul>li>a{ /*Couleur du nom des onglets pirncipaux*/
	padding: 20px 30px;
	color: #00DBDE; /*bleu vif !!*/
}
/*SOUS-MENU*/
.submenu{ /*Cacher les sous onglets*/
	display: none;
	left : 0;
	top: 100%;
	background-color: white
;}
nav li:hover .submenu{ /*Placer les sous-onglets par rapport au menu*/
	display: inline-block;
	position: absolute;
	padding: 0px;
	z-index: 100000; /*pour que les sous-menus s'affiche bien au-dessus des contenus*/
}
/*Styles généraux des sous onglets*/
.submenu li{ /*Bordure entre chaque élément*/
	border-bottom: 1px solid #FC00FF; /*rose vif !!*/
}
.submenu li a{
	padding: 15px 30px;
	font-size: 13px;
	color: #7303C0; /*violet vif !!*/
	width: 270px;
}

#p1{ /*Centrer le texte de présentation*/
	text-align: center;
}




/*

	INDEX

*/
/*Taille*/
.logo, .center, .mask{
	width: 50vw;
	height: 50vh;
}
@media screen (max-width: 64em){
	main{
		margin-left: none;
	}
	.logo, .center, .mask{
		width: 100vw;
		height: 50vh;
	}
}
@media screen (min-width: 64em){
	.logo, .center, .mask{
		width: 50vw;
	}
}
/*Logo*/
.logo{
  	position: relative;
  	margin: 0;
  	transition: all .5s ease-in-out;
}

.grid-container{
  	position: relative;
  	margin-left: 1em;
  	margin-right: 1em;
}
/*Nom onglet*/
.img_description{
  	position: absolute;
  	z-index: 10;
  	color: black;
  	opacity: 0;
  	align-items: center;
  	justify-content: center;
  	transition: all .5s ease-in-out;
}
.img_list{
	position: absolute;
  	z-index: 10;
  	color: black;
  	opacity: 0;
  	align-items: center;
  	justify-content: center;
  	transition: all .8s ease-in-out;
}
/*Ecriture des noms*/
.grid-container>div:hover .img_description{
  	opacity: 1;
  	font-size: 2em;
  	font-weight: bold;
}
.grid-container>div:hover .img_list{
	opacity: 1;
	top: 50%;
}
.img_description{
  	transition: .2s;
  	font-size: 2em;
}
.grid-container{
  	display: grid;
}
.grid-container>div{
  	position: relative;
}
/*Centrer le nom de l'onglet*/
.center{
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	overflow: hidden;
  	background-color: rgba(255, 255, 255, 0.4) /*rgba(115, 3, 192,0.4)*/;
}
/*Centrer l'image dans la colonne*/
.item{
  	display: flex;
  	justify-content: center;
  	align-items: center;
}
/*Réglages du fond*/
.mask{
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	position: absolute;
  	box-shadow: inset 0px 0px 18px 2px rgba(0, 0, 0, 0.75) /*rgba(115, 3, 192, 0.75)*/;
	-moz-box-shadow: inset 0px 0px 18px 2px rgba(0, 0, 0, 0.75) /*rgba(115, 3, 192, 0.75)*/;
	-webkit-box-shadow: inset 0px 0px 18px 2px rgba(0, 0, 0, 0.75) /*rgba(115, 3, 192, 0.75)*/;
	z-index: 10;
}
/*Fond non visible normalement*/
.center .mask{
  	opacity: 0;
  	background-color: rgba(255, 255, 255, 0.4) /*rgba(115, 3, 192,0.4)*/;
}
/*Afficher le fond au survol*/
.center:hover .mask{
  	opacity: 1;
}
/*Zoomer l'image*/
.center:hover .logo{
  	transform: scale(1.3);
}

#presentation{grid-column: 1;grid-row: 1;}
#btssio{grid-column: 2;grid-row: 1;}
#competences{grid-column: 1;grid-row: 2;}
#realisations{grid-column: 2;grid-row: 2;}
#veille{grid-column: 1;grid-row: 3;}




/*

	PRESENTATION

*/
.polaroid{
    background-color: white;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
	margin-left: 10%;
	margin-right: 10%;
}
.polaroid2{
	background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
	margin-left: 10%;
	margin-right: 10%;
}
/*Centrer le nom de l'onglet*/
.center2{
  	display: flex;
  	align-items: center;
  	background-color: rgba(255, 255, 255, 0.4) /*rgba(115, 3, 192,0.4)*/;
}
/*Ombre sur img*/
.mask2{
	display: flex;
	justify-content: center;
  	align-items: center;
  	position: absolute;
  	z-index: 10;
}
/*Fond non visible normalement*/
.center2 .mask2{
  	opacity: 0;
  	background-color: rgba(0, 0, 0, 0.4);
}
/*Afficher le fond au survol*/
.center2:hover .mask2{
  	opacity: 1;
  	transition: opacity 0.5s ease-out;
}
#pond{
	display: flex;
	justify-content: center;
	align-items: center;
}
.details{
	color: #00DBDE;
	font-weight: bold;
}
.polaroid2>.legend2{
	float: right;
	display: inline-block;

}




/*

	BTS SIO

*/
#btssio1, #matieres, #epreuves, #perspectives{
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
}
#btssio1, #epreuves{
	background-color: #EDE9DE; /*Beige/Blanc*/
}
/*Styles des puces numérotées*/
#epreuves>ul>li{ /*1er niveau / Chiffres romains*/
	list-style-type: upper-roman;
}
#epreuves>ul>li>ul>li{ /*2ème niveau / */
	list-style-type: decimal;
}
#epreuves>ul>li>ul>li>ul>li{ /*3ème niveau / */
	list-style-type: disc;
}
.epreuves{
	font-weight: bold;
	text-decoration: underline;
}
.nom_epreuves{
	text-decoration: underline;
}





/*

	VEILLE TECHNOLOGIQUE

*/
/*Commentaires*/
input, textarea{
	color: grey;
	font-family: 'Cambria', Arial;
	margin-top: 5px;
	margin-bottom: 5px;
}
form{
	display: grid;
}
#txt_pseudo{grid-column: 1;grid-row: 1;}
#pseudo{grid-column: 2;grid-row: 1;}
#txt_message{grid-column: 1;grid-row: 2;}
#message{grid-column: 2;grid-row: 2;}
#submit{grid-column: 2;grid-row: 3;}

#retour{
	text-decoration: underline;
}
#retour:hover{
	font-weight: bold;
}




/*

	PIED DE PAGE

*/
footer{
	opacity: 0.75;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	width: auto;
	font-size: small;
}

/*Contact*/
.contact{
	/*float: right;*/
	color: white;
}
.contact:hover{
	font-weight: bold;
	color: white;
}
/*

	PLAN DE SITE

*/
/*En-tête*/
#header{ /*Mise en page du header*/
	width: 100vw;
	height: 125px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
#plan{

}