<nav>
	<ul>
		<!--PRESENTATION-->
		<li class="presentation"><a href="1presentation/presentation.html">Présentation</a></li>

		<!--BTS SIO-->
		<li class="btssio"><a href="2btssio/btssio.html">BTS SIO</a></li>

		<!--COMPETENCES-->
		<li class="competences"><a href="3competences/competences.html">Compétences</a>
			<ul class="submenu">
				<li><a href="3competences/1centreformation/CcentreF.html">En Centre de Formation</a></li>
				<li><a href="3competences/2entreprise/Centreprise.html">En Entreprise</a></li>
				<li><a href="3competences/3perso/Cperso.html">Personnelles</a></li>
			</ul>
		</li>

		<!--REALISATIONS-->
		<li class="realisations"><a href="4realisations/realisations.html">Réalisations</a>
			<ul class="submenu">
				<li><a href="4realisations/CentreF/RcentreF.html">En Centre de Formation</a></li>
				<li><a href="4realisations/Entreprise/Rentreprise.html">En Entreprise</a></li>
				<li><a href="4realisations/Perso/Rperso.html">Personnelles</a></li>
			</ul>
		</li>

		<!--VEILLE TECHNOLOGIQUE-->
		<li class="veille"><a href="5veilletechnologique/veille.html">Veille Technologique</a></li>
	</ul>
</nav>