nav{
	position: relative;
	top: 0;/*Positionner le menu entier*/
	left: 5%;/*Positionner le menu entier*/
	width: 90%;/*Taile du menu*/
	float: none;
}
nav ul{
	position: relative;
	float: none;
	display: inline-table;
	text-align: center;
	list-style-type: none;
}
nav ul li{
	float: none;
	transition: .3s ease-in-out;
}



/*Présentation du menu*/
nav li{
	display: inline-block;
	width: 150px;
	height: 15px;
	margin: 5px;
	padding: 15px;
	text-align: center;
	line-height: 10px;
}
/*Nom des onglets*/
nav li a{
	display: block;
	text-decoration: none;
	color: purple;
}
/*Après clic du lien*/
nav li a:visited {
    color: purple;
}
nav .tabnav .veille{
	line-height: 1.2;
}
/*Survoler avec la sourie*/
/*Menu principal + sous menu*/
nav li a:hover{
	font-weight: bold;
	color: purple;
}

nav ul li:hover>ul{
	display: inline-table;
	float: none;
}
nav ul li{
	float: none;
	transition: all .3s ease-in-out;
}

/*Ecriture des onglets*/
nav ul li a {
  display: block; 
  padding: 30px 20px;
  color: rgb(0, 0, 0); 
  font-size: .9em;
  letter-spacing: 1px;
  text-decoration: none;
 /*text-transform: uppercase;*/
}

nav ul ul ul {
  position: absolute; 
  left: 100%; 
  top:0;
}

nav ul ul li {
  float: none; 
  position: relative;
}

/*Sous-onglets emplacement texte*/
nav ul ul li a, .entreprise, .centre{
  /*padding: 15px 15px;*/
  color: purple;
}
nav ul ul li a, .entreprise:hover, .centre:hover{
	font-weight: bold;
}
nav ul ul {
  display: none;
  background: none;
  position: absolute; 
  top: 100%;
}

/*Responsive du menu*/
.nav .tabnav{
	display: flex; /*Définition de l'affichage en mode flex*/
	flex-direction: row; /*Aligner les éléments en ligne*/
	justify-content: center; /*Aligner les éléments à gauche/centre/droite, ici centre*/
	/*box-shadow: -3px 3px 10px -2px grey;*//*Ombre du menu*/
	@media(max-width: 450px){
		flex-flow: column wrap; /*Résolution type mobile, affichage des éléments en colonne et retour à la ligne autorisé*/
	}
}
.nav{
	border: 1px solid black;
}


/*Placement correct des onglets du menu avec grid*/

