/*Global*/
html{
	font-family: 'Cambria', Arial;
	color: #000000;
}

.bold{
	font-weight: bold;
	color: purple;
}
.italic{
	font-style: italic;
	font-size: 0.9rem;
}
.underline{
	text-decoration: underline;
}

header{
	background: -webkit-linear-gradient (to right, #91EAE4, #86A8E7, #7F7FD5);
	background: linear-gradient (to right, #91EAE4, #86A8E7, #7F7FD5);
	width: 100%;
	height: 100vh;
}



/*En-tête*/
/*MENU*/
nav>ul>li{ /*On affiche seulement les éléments li correspondant à nos onglets de menu en ligne*/
	float: left;
	position: left;
}
nav li{ /*On enlève les puces devant tous les éléments li appartenant à notre éléments nav*/
	list-style-type: none;
}
nav{ /*Taille du menu*/
	width: 100%;
	background-color: white;
	position: fixed;
	top: 125px;
	left: 0;
}
nav>ul::after{ /*Gérer les éléments parents et enfants float*/
	content: "";
	display: block;
	clear: both;
}
nav a{ /*Style du texte des noms d'onglets*/
	display: inline-block;
	text-decoration: none;
}
nav>ul>li>a{ /*Couleur du nom*/
	padding: 20px 30px;
	color: purple;
}
/*SOUS-MENU*/
.submenu{ /*Cacher les sous onglets*/
	display: none;
}
nav li:hover .submenu{ /*Placer les sous-onglets par rapport au menu*/
	display: inline-block;
	position: absolute;
	padding: 0px;
	z-index: 100000; /*pour que les sous-menus s'affiche bien au-dessus des contenus*/
}
/*Styles généraux des sous onglets*/
.submenu li{ /*Bordure entre chaque élément*/
	border-bottom: 1px solid black;
}
.submenu li a{
	padding: 15px 30px;
	font-size: 13px;
	color: #CFA0E9;
	width: 270px;
}


.border1{
	text-align: center;
	font-weight: bold;
	margin-left: 6.5px;
	color: #CFA0E9;
	width: 100%;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
}
.border2{
	border: 1.8px solid purple;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: #CFA0E9;
}

IMG.displayed{
	display: block;
	margin-left: auto;
	margin-right: auto;
}




/*Corps*/
#decaler{
	margin-top: 250px;
}

.h1{
	text-align: center;
	color: purple;
	text-decoration: underline;
}

h2{
	font-style: italic;
}

h3{
	color: purple;
	margin-left: 50px;
}

main{
	padding: 3%;
	padding-top: 10px;
	margin-top: 10%;
	margin-left: 17%;
	margin-right: 17%;
	margin-bottom: 5%;
	box-shadow: 0px 0px 9px #CFA0E9;
}



/*Pied de page*/
footer{
	background-color: #CFA0E9;
	opacity: 0.75;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	color: grey;
	width: 98%;
}

.contact{
	float: right;
}



/*
Présentation du BTS SIO (et l'option ?)
Les matières
Les épreuves
Les perspectives d'emploi avec un BTS SIO
*/