.border1{
	text-align: center;
	font-weight: bold;
	margin-left: 6.5p;
	color: #CFA0E9;
	width: 100%;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
}
.border2{
	border: 1.8px solid purple;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: #CFA0E9;
}




/*Corps*/
#decaler{
	margin-top: 175px;
}

h2{
	font-style: italic;
}

h3{
	color: purple;
	margin-left: 50px;
}





/*Faire des sous-onglets et sous-sous-onglets pour chaque compétences*/
/*Compétences->1->A
				->B
			 ->2->A
				->B*/
				
/*
1. Les compétences acquises en centre de formation (= Ecole)
	A. Pdt les PPE (Projets 1 & 2)
	B. Pendant les TP
2. Les compétences acquises en entreprise
	A. En stage
	B. En alternance
*/