/*Global*/
#decaler{
	margin-top: 200px;
}

html{
	font-family: 'Cambria', Arial;
	color: #000000;
}

.bold{
	font-weight: bold;
	color: purple;
}
.italic{
	font-style: italic;
	font-size: 0.9rem;
}
.underline{
	text-decoration: underline;
}




/*En-tête*/
/**/
nav ul{
	text-align: center;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	background-color: white;
}
/*Présentation du menu*/
nav li{
	display: inline-block;
	width: 150px;
	height: 15px;
	margin: 5px;
	padding: 15px;
	border-right: 1px solid purple;
	border-left: 1px solid purple;
	text-align: center;
	line-height: 10px;
}
/*Survoler avec la sourie*/
nav li :hover{
	font-weight: bold;
	color: purple;
}
/*Nom des onglets*/
nav li a{
	display: block;
	text-decoration: none;
	color: black;
}
a:visited {
    color: purple;
}

#p1{
	text-align: center;
}

.border1{
	text-align: center;
	font-weight: bold;
	border: medium solid purple;
	margin-left: 6.5px;
	color: #CFA0E9;
	width: 99%;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
}

.border2{
	border: 1.8px solid purple;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: #CFA0E9;
}

main{
	padding: 3%;
	margin-top: 2%;
	margin-left: 17%;
	margin-right: 17%;
	margin-bottom: 5%;
	box-shadow: -6px 0 6px purple, 6px 6px 6px #CFA0E9;
}



/*Pied de page*/
footer{
	background-color: #CFA0E9;
	opacity: 0.75;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	color: grey;
	width: 98%;
}

.contact{
	float: right;
}



/*Corps*/
h2{
	font-style: italic;
}

h3{
	color: purple;
	margin-left: 50px;
}

.h2{
	font-style: none;
	text-align: center;
}