/*Global*/
/*html{
	font-family: 'Cambria', Arial;
	color: #000000;
}
html,body{
	height: 100%;
}
.bold{
	font-weight: bold;
	color: purple;
}
.italic{
	font-style: italic;
	font-size: 0.9em;
}
.underline{
	text-decoration: underline;
	color: purple;
	font-size: 1.2em;
}*/

/*En-tête*/
/*Mise en page du header*/
/*header{
	width: 100%;
	height: 100vh;
}*/

/*Bordure de l'en-tête*/
.border1{
	text-align: center;
	font-weight: bold;
	margin-left: 6.5px;
	color: white;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

header, #decaler1, .border1, nav, footer{
	background: rgba(207, 160, 233, 0.5); /* fallback for old browsers */
  	background: -webkit-linear-gradient(to right, rgba(207, 160, 233, 0.5), rgba(128, 0, 128, 0.5)); /* Chrome 10-25, Safari 5.1-6 */
  	background: linear-gradient(to right, rgba(207, 160, 233, 0.5), rgba(128, 0, 128, 0.5)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  	color: white;
  	/*opacity: 0.5;*/
}

/*Décaler tout en dessous du border 1*/
#decaler1{
	padding-top: 250px;
}

/*MENU*/
/*Menu général*/
nav>ul>li{ /*On affiche seulement les éléments li correspondant à nos onglets de menu en ligne*/
	float: left;
	position: left;
}
nav li{ /*On enlève les puces devant tous les éléments li appartenant à notre éléments nav*/
	list-style-type: none;
}
nav{ /*Taille du menu*/
	width: 100%;
	position: fixed;
	top: 125px;
	left: 0;
}
nav>ul::after{ /*Gérer les éléments parents et enfants float*/
	content: "";
	display: block;
	clear: both;
}
nav a{ /*Style du texte des noms d'onglets*/
	display: inline-block;
	text-decoration: none;
}
nav>ul>li>a{ /*Couleur du nom des onglets pirncipaux*/
	padding: 20px 30px;
	color: white;
}
/*SOUS-MENU*/
.submenu{ /*Cacher les sous onglets*/
	display: none;
}
nav li:hover .submenu{ /*Placer les sous-onglets par rapport au menu*/
	display: inline-block;
	position: absolute;
	padding: 0px;
	z-index: 100000; /*pour que les sous-menus s'affiche bien au-dessus des contenus*/
}
/*Styles généraux des sous onglets*/
.submenu li{ /*Bordure entre chaque élément*/
	border-bottom: 1px solid black;
}
.submenu li a{
	padding: 15px 30px;
	font-size: 13px;
	color: grey;
	width: 270px;
}



/*Corps*/
IMG.displayed{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1{
	color: white;
}
.h1{
	text-align: center;
	color: white;
	text-decoration: none;
}
.h1:hover{/*à retravailler pour que ça fonctionne*/
	text-align: center;
	color: white;
	font-weight: lighter;
}
.h1:visited{
	text-decoration: none;
}

h2{
	font-style: italic;
}

main{
	padding: 3%;
	padding-top: 10px;
	margin-top: 10%;
	margin-left: 17%;
	margin-right: 17%;
	margin-bottom: 5%;
	box-shadow: 0px 0px 9px #CFA0E9;
}




/*Pied de page*/
footer{
	background-color: #CFA0E9;
	opacity: 0.75;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	width: auto;
}

/*Contact*/
.contact{
	float: right;
	color: white;
}
.contact:hover{
	font-weight: bold;
	color: white;
}



/*
Couleurs
Violet foncé : purple / #800080 / rgb(128, 0, 128)
Violet clair/lila: #CFA0E9 / rgb(207, 160, 233)
*/